{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Default:top.html.twig' %}

<div class="container">
    <div class='units-row'>
        <div class='unit-100'>
            <div id="sad-full" class='text-centered'>
                <h3 class='color-gray-light'>Ой! Что-то сломалось!</h3>
                <img src="{{ asset('images/sad_robot.png') }}">
                <p class='lead'>Робот говорит: "{{ status_code }} {{ status_text }}"</p>
            </div>
        </div>
    </div>
</div>

{% include 'EventGeneralBundle:Default:bottom.html.twig' %}

{% endblock %}
