@import "museocyr.css";
@import "charis.css";

/* 
==============================================================================
                                 G L O B A L 
==============================================================================
*/

@media only screen and (max-width: 690px) {
    #general_events_list {
        text-align: center;
    }
}

body {
    font-family: 'Museo Sans Cyr';
    background-color: #eee;
}

h1, h2, h3, h4 {
    font-family: 'Museo Sans Cyr';
}

h1, h2, h3, h4 {
    font-weight: normal;
}

p {
    font-family: 'Charis';
}

.hidden {
    opacity: .2;
}

.padding-1 {
    padding: 1em;
}

.margin-0 {
    margin: 0;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.margin-bottom-d1 {
    margin-bottom: .1em;
}

.margin-bottom-d6 {
    margin-bottom: .6em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-top-1 {
    margin-top: 1em !important;
}

.margin-top-d6 {
    margin-top: .6em !important;
}


.back-gray-light {
    background: #eee !important;
}

/* 
==============================================================================
                                G R I D 
==============================================================================
*/

.container {
    display: block;
    position: relative; 
    width: 97%; 
    max-width: 710px;
    margin: 0 auto; 
    padding: 0; 
    background-color: #fff;

    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

/* 
==============================================================================
                          ELEMENT: EVENTS GRID 
==============================================================================
*/

#general_events_list {
    margin: 0px auto;
    width: 97%; 
    max-width: 710px;
}

.event-container {
    margin-bottom: .4em;
    background-size: cover;
    max-width: 350px;
    height: 260px;
    background-color: #999;
    display: inline-block !important;
    text-align: left;
}

.event-container .content {
    padding: 1em;
    height: 260px;

    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 20%) top,
        linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%) bottom; 
}

.event-container .head {
    clear: both;
    height: 180px;
    overflow: hidden;
}

.event-container .head h3 {
    font-family: 'Museo Sans Cyr';
    font-size: 22px;
    line-height: 24px;
    color: #fff;
    overflow: hidden;
    float: left;
    width: 70%;
}

.event-container .additional {
    margin-top: 32px;
    color: #ccc;
    font-size: 14px;
    overflow: hidden;
}

.event-container .date-time {
    background: rgba(0, 0, 0, 0.4);
    padding: 0 .8em 0 .8em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
    float: left;
}

.event-container .tags {
    list-style: none;
    float: right;
}

.event-container .tags li {
    display: inline-block;
    color: #111;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 .3em 0 .3em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.event-container .tags .highlight {
    color: #000;
    background: rgba(255, 255, 255, 0.9);
}


/* 
==============================================================================
                     ELEMENT: TOP & FOOTER & SEARCH
==============================================================================
*/

.menu-icon {
    position: absolute;
    top: 4px;
    left: 5px;
    background-image: url('../images/menu.png');
    display: block;
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    margin-right: .6em;
}

#logo {
    display: block;
    background-image: url('../images/logo.png');
    width: 140px;
    height: 33px;
    margin: 0px auto;
    margin-top: 5px;
}

#top-bar {
    background-color: #fff;
    height: 50px;
    padding: 5px;
    overflow: hidden;
    margin-bottom: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.05), 0 0 4px 2px rgba(0,0,0,.1);
}

#footer {
    color: #5e6165;
    padding: 1em;
    overflow: hidden;
    background: #282b2f linear-gradient(to bottom, rgba(22,24,26,1) 0%,rgba(22,24,26,0) 100%) top no-repeat;
    background-size: 100% 10px;
}

#footer p {
    font-family: 'Museo Sans Cyr';
    font-size: 14px;
    line-height: 16px;
}

/* 
==============================================================================
                            ELEMENT: LIKES 
==============================================================================
*/

.like-icon {
    background-image: url('../images/heart-inactive.png');
    color: #000;
}

.like-icon:hover {
    background-image: url('../images/heart-hover.png');
    opacity: .8 !important;
    color: #000;
}

.like-active-icon {
    background-image: url('../images/active-heart.png');
    opacity: 1 !important;
    color: #d70a16;
}

.like-active-icon:hover {
    background-image: url('../images/active-heart-hover.png');
    opacity: 1 !important;
    color: #d70a16;
}

.dislike-icon {
    background-image: url('../images/broken-heart-inactive.png');
    color: #000;
}

.dislike-icon:hover {
    background-image: url('../images/broken-heart-hover.png');
    opacity: .8 !important;
    color: #000;
}

.dislike-active-icon {
    background-image: url('../images/active-broken-heart.png');
    opacity: 1 !important;
    color: #d70a16;
}

.dislike-active-icon:hover {
    background-image: url('../images/active-broken-heart-hover.png');
    opacity: 1 !important;
    color: #d70a16;
}

.icon-40 {
    display: inline-block;
    width: 40px;
    height: 39px;
    opacity: .5;
    border-radius: 50px;
    background-size: 100% 100%;
    margin-right: .6em;
}



/* 
==============================================================================
                            ELEMENT: WINDOWS 
==============================================================================
*/

.window {
    padding: 1em .4em 1em .4em;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    max-width: 610px;
}

/* POPULAR TAGS WINDOW */

.popular-tags {
    margin-bottom: .6em;
}

.popular-tags .selected {
    color: #d70a16 !important;
    border: 1px solid #d70a16;
    box-shadow: none;
}

.music-tag {
    display: inline-block;

    font-family: 'Museo Sans Cyr';
    font-weight: normal;

    margin: .3em;
    padding: .05em .5em .05em .5em;

    color: #777;
    border: 1px solid #ccc;
    box-shadow: 0 1px 0px rgba(0,0,0,.1);
    -webkit-border-radius: 2px;
    border-radius: 2px;

    text-decoration: none;
}

.music-tag:hover {
    color: #777;
}

#time-window {
    min-width: 300px;
}

#time-window a:hover, a:active {
    text-decoration: none;
    color: #3570c3;
}

#time-window .selected, #time-window .selected:hover {
    color: #d70a16;
}


#email-window {
    padding: .8em;
    border: 1px solid #ccc;
    max-width: 610px;
}

#email-window p {
    margin-bottom: .4em;
}

.btn-vk {
    background: #5a7ca0;
    color: #fff;
}

.btn-vk img {
    width: 22px;
    margin-right: 10px;
}

.btn-vk:hover {
  background: #4b6b8f;
  color: #fff;
}


/* 
==============================================================================
                    PAGE: INDEX, AFISHA, SEARCH, PROFILE
==============================================================================
*/

#welcome {
    border: 1px solid #ddd;
    padding: .8em .6em .8em .6em;
    margin-top: .6em;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    width: 95%;
    font-size: 16px;
}

#search_form {
    display: block;
    position: relative; 
    width: 97%; 
    max-width: 710px;
    margin: 0 auto; 
    text-align: center;
    margin-top: .9em;
    margin-bottom: .9em;
}

.page-head {
    width: 95%; 
    margin: 0 auto; 
    overflow: hidden;
    max-width: 710px;
}

.page-head-sub {
    width: 95%; 
    margin: 0 auto; 
    overflow: hidden;
    padding: .6em 0 .8em 0;
    max-width: 710px;
}

.page-head-sub a {
    display: inline-block;

    padding: .2em .6em .2em .6em;
    margin-right: .6em;

    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid #ddd;

    color: #777;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.page-head-sub .selected {
    color: #d70a16;
    border: 1px solid #d70a16;
    box-shadow: none;
}

#no-results {
    padding-top: 6em;
    min-height: 500px;
}

#load_more {
    margin: 0 0 1.6em 0;
    width: 95%; 
    max-width: 710px;
}

.first-time {
    min-height: 500px;
    padding: 1.6em;
    max-width: 500px;
    margin: 0px auto;
}

.first-time hgroup {
    height: 110px;
}

#exit {
    margin: 0 0 1.6em 0;
    width: 97%; 
    max-width: 710px;
}

/* 
==============================================================================
                                PAGE: EVENT 
==============================================================================
*/

/* COVER */

.event-cover {
    display: block;
    position: relative; 
    height: 400px;
    width: 100%; 
    max-width: 710px;
    margin: 0px auto;

    background-color: #fff;
    overflow: hidden;

    background-position: center;
    background-size: cover;
}

.event-cover .content {
    padding: 1em;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(0,0,0,0.87) 100%);
}

.event-cover .content .head {
    margin: 0px auto;
    margin-top: 220px;

    width: 80%;
    text-align: center;
}

.event-cover .content .head h2, .event-cover .content .head h5 {
    color: #eee;
}

/* DESC & OTHER STUFF & TICKETS */

.desc-container {
    display: block;
    position: relative; 
    padding: 1em; 
    background-color: #fff;
    overflow: hidden;
    max-width: 710px;
    margin: 0px auto;
}

.desc-container .desc p {
    margin-bottom: 1em;
    font-size: 16px;
}

.desc-container table {
    font-size: 13px;
    margin-bottom: 0;
}

.desc-container th {
    font-size: 13px;
}

.desc-container td, th {
    padding: 5px 2px 5px 2px;
}

/* SIMILAR EVENTS */

.desc-container .similar li {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}

.desc-container .similar li:first-child {
    padding-top: 0;
}

.desc-container .similar a {
    color: #333;
    padding: 0;
}

.desc-container .similar .tags {
    color: #d70a16;
}

.desc-container .similar p {
    margin-bottom: 1em;
    color: #777;
}

