@import "museocyr.css";
@import "charis.css";

body, h1, h2, h3, h4 {
    font-family: 'Museo Sans Cyr';
}


h1, h2, h3, h4 {
    font-weight: normal;
}

p {
    font-family: 'Charis';
}

h2 {
    font-size: 26px;
}

.container { 
    position: relative; 
    width: 960px; 
    margin: 0 auto; 
    padding: 0; 
}

/* GRID */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
	margin: 0 0 12px 12px;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

.span_4_of_12 {
    width: 312px;
}

.span_3_of_12 {
    width: 231px;
}

.span_3_of_12 {
    width: 231px;
}

.span_6_of_12 {
  	width: 474px;
}

.span_8_of_12 {
  	width: 636px;
}

.span_9_of_12 {
    width: 717px;
}


/* OTHER */

#logo {
    margin: -8px 25px 0 0;
    display: block;
    background-image: url('../images/logonew.png');
    width: 190px;
    height: 42px;
    float: left;
}

#logo-box {
    margin: 1.6em auto;
    margin-bottom: 1em;
    border-bottom: 1px solid #eee;
    font-size: 18px;
}

#logo-box form, #logo-box nav {
    margin-bottom: .8em;
}

#logo-box form {
    margin-right: .6em;
}

#logo-box .units-row {
    margin-bottom: 0em;
}

#logo-box .navbar {
    margin-top: 1px;
}

#logo-box .navbar a {
    color: #000;
}

#logo-box .navbar a:hover {
    color: #d70a16;
}

#logo-box .navbar .selected a {
    color: #d70a16;
}

#welcome {
    margin: 0px auto;
    margin-bottom: 2em;
}

.event-block {
    display: block;
    background-color: #999;
    height: 260px;
    -webkit-border-radius: 2px;
    border-radius: 2px;

    text-decoration: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.event-block:hover {
    background-color: #fff; 
    opacity: 0.9;
}

.event-block .event-content {
    padding: 1em;
    max-height: 260px;

    -webkit-border-radius: 2px;
    border-radius: 2px;
    
    background: 
        linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 20%) top,
        linear-gradient(to top, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 30%) bottom; 
}

.event-block .head {
    clear: both;
    height: 180px;
    overflow: hidden;
}

.event-block h3 {
    font-family: 'Museo Sans Cyr';
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    overflow: hidden;
    float: left;
}

.event-block .event-likes {
    display: none;
    width: 30px;
    height: 180px;
    overflow: hidden;
    float: right;
}

.hidden {
    opacity: .2;
}

.likes-show .event-likes {
    display: block !important;
}

.event-block:hover .event-likes {
    display: block;
}

.span_3_of_12 h3 {
    width: 80%;
}

.span_6_of_12 h3 {
    width: 50%;
}

.event-block .additional {
    margin-top: 32px;
    color: #ccc;
    font-size: 12px;
    overflow: hidden;
}

.event-block .date-time {
    background: rgba(0, 0, 0, 0.4);
    padding: 0 .8em 0 .8em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-weight: bold;
}

.event-block .tags {
    list-style: none;
}

.event-block .tags li {
    display: inline-block;
    color: #111;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 .3em 0 .3em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.event-block .tags .highlight {
    color: #000;
    background: rgba(255, 255, 255, 0.9);
}

#footer {
    margin-top: 1.6em;
    border-top: 1px solid #eee;
    padding: 1.6em 0 50px 0;
    font-size: 12px;
    color: #737373;
}

#footer p {
    font-family: 'Museo Sans Cyr';
}

.popular_tags {
    font-family: 'Charis';
    margin: 1em 0 1em 0;
}

.music-tag {
    margin: 0em .7em 0 0;
    text-decoration: none;
    white-space: nowrap;
}

.music-tag:hover {
    text-decoration: underline;
}

.filters {
    padding-left: 14px;
}

.selected {
    color: #d70a16;
}

.ui-autocomplete {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    font-family: 'Museo Sans Cyr';
    font-size: 100%;
}

.ui-menu .ui-menu-item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 5px 0 5px 0;
}

.ui-menu li:last-child {
  border-bottom: none;
}

.ui-menu .ui-state-focus {
    background: #fff;
    color: #333;
    border: none;
    margin: 0 !important;
}

.ui-menu .ui-state-focus a {
    margin: 0 !important;
}

.ui-menu .ui-menu-item .artist {
    width: 300px;
    float: left;
    padding-left: 5px;
}

.ui-menu .ui-menu-item:hover .artist {
    color: #d70a16;
}

.ui-menu .ui-menu-item a {
    padding: 0;
}

.ui-menu .ui-menu-item small {
    padding-left: 5px;
}

.ui-menu .ui-menu-item .date {
    width: 90px;
    text-align: right;
    float: left;
}

.ui-menu .ui-menu-item .complete-wrap {
    clear: both;
    overflow: hidden;
}

#top-search {
    width: 250px;
}

#no-results {
    margin-top: 2em;
}

.event-title {
    width: 100%;
    height: 600px;
    background: #ccc;
    clear: both;
    overflow: hidden;
}

.event-title .border {
    border: 1px solid #fff;
    margin: 15px;
    height: 570px;
    overflow: hidden;
}

.event-title .title {
    margin: 0px auto;
    margin-top: 400px;
    width: 500px;
    height: 137px;
    overflow: hidden;
}

.event-title .title h1 {
    font-size: 2.4em;
    margin-bottom: 10px;
}

.event-title .title h5 {
    font-weight: normal;
}

.event-title p {
    font-size: 1.2em; 
    font-family: 'Museo Sans Cyr';
    margin-bottom: 5px;
}

.event-title .buttons {
    margin: 0px auto;
    overflow: hidden;
    margin-top: -20px;
}

/* medium title */

.event-title-medium {
    width: 100%;
    height: 450px;
    background: #ccc;
    clear: both;
    overflow: hidden;
}

.event-title-medium .title {
    margin: 0px auto;
    margin-top: 30px;
    width: 500px;
    height: 120px;
    overflow: hidden;
}

.event-title-medium .title h1 {
    font-size: 2em;
    margin-bottom: 6px;
}

.event-title-medium .title h5 {
    font-weight: normal;
}

.event-title-medium p {
    font-size: 1.2em; 
    font-family: 'Museo Sans Cyr';
    margin-bottom: 5px;
}

.event-title-medium .border {
    border: 1px solid #fff;
    margin: 15px;
    height: 420px;
    overflow: hidden;
}

.event-title-medium .buttons {
    margin: 0px auto;
    margin-top: 215px;
    overflow: hidden;
}

.event-white, .event-white h5, .event-white p, .event-white h1 {
    color: #fff !important;
}

.event-big-white, .event-big-white h5, .event-big-white p, .event-big-white h1 {
    color: #fff !important;
}

/* EVENT PAGE */

.event-desc {
    clear: both;
}

.event-desc p {
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 300;
    margin-bottom: .75em;
}

.when {
    font-size: 100%;
    font-family: 'Museo Sans Cyr';
}

#tickets-sub-title {
    margin-top: 20px;
}

.container-light-gray {
    background-color: #eee;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

#map {
    background-color: #eee;
    width: 474px; 
    height: 200px;
    float: left;
    margin-right: 12px;
}

#map-desc {
    width: 231px; 
    height: 200px;
    float: left;
}

#map-desc h5 {
    font-size: 16px;
}

.likes {
    background: #eee;
    padding: .6em 0 .4em .8em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.likes .button-container {
    display: inline-block;
    width: 130px;
}

.likes small {
    display: inline-block;
    width: 100px;
    float: left;
    font-family: 'Museo Sans Cyr';
    font-size: 14px;
    margin-left: 47px;
    padding-top: 6px;
}

.event-tags {
    float: left;
    list-style: none;
    margin: 10px 12px 10px 0px;
    width: 474px;
}

.event-tags a {
    display: inline-block;
    color: #999;
    border: 1px solid #ccc;
    padding: 0 .5em 0 .5em;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 0px .3em .3em 0px;
    text-decoration: none;
}

.event-tags a:hover {
    color: #333;
    border: 1px solid #333;
}

#avatar {
    width: 50px;
    height: 50px;

    display: inline-block;
    vertical-align: top;
    margin: -10px 0 0 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

    background-size: 50px 50px;
}

#afisha-preloader {
    margin-top: 1em;
    min-height: 500px; 
}

.tags-list {
    height: 250px;
    overflow: hidden;
}

.min-height-500 {
    min-height: 500px;
}

.min-height-800 {
    min-height: 800px;
}

.icon-40 {
    display: inline-block;
    width: 40px;
    height: 39px;
    opacity: .5;
    border-radius: 50px;
    background-size: 100% 100%;
}

.icon-30 {
    display: inline-block;
    width: 30px;
    height: 29px;
    opacity: .5;
    border-radius: 50px;
    background-size: 100% 100%;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.like-icon {
    background-image: url('../images/heart-inactive.png');
    color: #000;
}

.like-icon:hover {
    background-image: url('../images/heart-hover.png');
    opacity: .8 !important;
    color: #000;
}

.like-active-icon {
    background-image: url('../images/active-heart.png');
    opacity: 1 !important;
    color: #d70a16;
}

.like-active-icon:hover {
    background-image: url('../images/active-heart-hover.png');
    opacity: 1 !important;
    color: #d70a16;
}

.dislike-icon {
    background-image: url('../images/broken-heart-inactive.png');
    color: #000;
}

.dislike-icon:hover {
    background-image: url('../images/broken-heart-hover.png');
    opacity: .8 !important;
    color: #000;
}

.dislike-active-icon {
    background-image: url('../images/active-broken-heart.png');
    opacity: 1 !important;
    color: #d70a16;
}

.dislike-active-icon:hover {
    background-image: url('../images/active-broken-heart-hover.png');
    opacity: 1 !important;
    color: #d70a16;
}

#login-signup-window {
    width: 350px;
    height: 200px;
}

#subscribe-window {
    width: 500px;
}

#subscribe-window .forms {
    margin-bottom: 0;
}

#subscribe-window p {
    padding-left: 0px;
}

#subscribe-window input {
    font-size: 16px;
}

#email-window {
    width: 500px;
}

#email-window input {
    font-size: 16px;
}

#email-window p {
    font-size: 16px;
    padding: 0px;
    margin-top: .8em;
    margin-bottom: .8em;
}

.window p {
    font-family: 'Museo Sans Cyr';
    padding: 10px 20px 0 20px;
}

.window .window-main-content {
    padding: 0 1.6em 1.6em 1.6em;
}

.window .head {
    height: 55px;
    overflow: hidden;
    display: block;
    background: #eee;
    padding: .6em;
}

.window h3 {
    padding-top: 5px;
}

.window .head .logo-img {
    display: inline-block;
    background-image: url('../images/logo.png');
    width: 140px;
    height: 22px;
    margin-top: 8px;
}

.btn-vk {
  background: #5a7ca0;
  color: #fff;
}

.btn-vk img {
    width: 22px;
    margin-right: 10px;
}

.btn-vk:hover {
  background: #4b6b8f;
  color: #fff;
}

.btn-vk:active {
  color: #fff;
}


.exit-icon {
    background-image: url('../images/exit.png');
    color: #000;
}

.exit-icon:hover {
    background-image: url('../images/exit-hover.png');
    opacity: .8 !important;
    color: #000;
}

#exit {
    margin-top: 2px;   
    margin-right: 5px;
}


#more-tags {
    margin-bottom: 1.6em;
}


#media-info {
    padding-left: 14px;
}


#first-time .desc {
    font-size: 14px;
    width: 520px;
    margin: 0px auto;
}

#sad-full {
    margin: 0px auto;
    width: 70%;
}

.like-buttons {
    min-height: 34px;
    overflow: hidden;
    margin-top: 1.2em;
}

