{% extends '::base.html.twig' %}
{% block body %}

{% include 'EventGeneralBundle:Default:top.html.twig' %}

{% if not user_id %}
    <div class="container">
        <div class="unit-100 text-centered" id="welcome">
            <p class="lead">
            Восемьдесят  три процента всех дней в году начинаются одинаково: звенит будильник. Этот звон вливается в последние сны  то  судорожным  стрекотанием итогового  перфоратора,  то  гневными  раскатами баса Федора Симеоновича, то скрежетом когтей василиска, играющего в термостате.
            </p>
        </div>
    </div>
{% endif %}

{% if not user_id %}
    {% include 'EventGeneralBundle:Default:index_unlogged.html.twig' %}
{% else %}
    {% include 'EventGeneralBundle:Default:index_personal.html.twig' %}
{% endif %}

{% include 'EventGeneralBundle:Default:bottom.html.twig' %}

<script>
    var tags_name_selected = { 
        {% if tags_name_selected|length > 0 %}
            {% for t, v in tags_name_selected %}
                '{{ t }}': 1
                {% if not loop.last %},{% endif %}
            {% endfor %}
        {% endif %}
    };
</script>

{% endblock %}
