<div id="search_form">
    <form action="{{ path('search') }}" class="margin-0">
        <input name="query" type="text" class="input-search width-100" placeholder="Искать концерты" value="{% if query is defined %}{{ query }}{% endif %}" />
    </form>
</div>
