<div class="units-row" id="top-bar">
    <div class="unit-100 text-centered">
        <a href="{{ path('index') }}" id="logo"></a>
        <a href="#" id="menu" class="menu-icon"></a>
    </div>
</div>
